body {
    background-image: linear-gradient(purple,yellow);
    margin:0px;
}



div.post h2, div.post p{
    padding:10px
    margin:0;

}

header {
    background:whitesmoke;
    padding:10px;
    font-family: 'Calibri';

}
h1{
    margin:0px; 
}


div.container {
    margin:auto;
    width:600px
    
}


img {
    width:100%;
    height: auto;
    
}

div.post {
    background:white;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

div.post .post-header div:first-child{
    width: 80%;
    margin-left: 5px;
    display: inline-table
    

}
div.post .post-header div:last-child {
    width:20%;
    text-align: right;
    color:gray;
    margin-top: 20px;
    margin-right: 8px;

}

.post-header{
    display: flex;
}
div.post p{
    font-family: 'Courier New';
    margin: 12px;
}